/* PC  */
@media (min-width: 1024px) {

}
/* TALET  */
@media ( min-width :740px) and ( max-width:1023px) {

}
/* MOBLE  */
@media (max-width: 740px) {
    #nav li {
        display: block;
    }
    .search-section {
        display: none;
    }
    #header {
        overflow: hidden;
    }
}